<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for development purposes -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Camera permissions and features -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- External storage permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- ... Other declarations ... -->

</manifest>
